.app-header, main {
  position: relative;

  margin: 0 auto;
  max-width: 1024px;
}

.app-header h1 {
  margin: 0;
}

main {
  transform: translateY(0);
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  transition: transform 0.2s;
}
main.is-loading {
  transform: translateY(8000px);
  -webkit-transition: transform 2s;
  -moz-transition: transform 2s;
  transition: transform 2s;
}
